.navbar-brand > img{
    width: 200px;
}

.im-bundau{
    max-width: 550px;
}

#ts-hero{
    background-image: url("../../assets/img/header-bg.jpg");
    background-size: cover;
    color: #4b3b1d;
}

.hero-banners{
    margin-top: 40px;
}

.btn-primary{
    background-color: #E59917;
    border: none;
    border-radius: 16px;
}

.input-phonenumber{
    height: 72px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    padding-left: 24px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}
.caption-style{
    margin-bottom: 32px;
}

.cta-btn{
    height: 72px;
    border: none;
    background-color: #E59917;
    border-radius: 8px;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    margin-bottom: 24px;
    width: 100%;
}


.benifit-list{
    list-style-type: none;
    padding: 0px;
}
.benifit-list li p{
    margin-bottom: 12px;
    color: rgb(58, 29, 29);

}
.benifit-list p::before {
    content: "✓    ";
    font-size: 20px;
  }

.ts-block{
    background-color: #fcf7eb;
}

.question-list{
    margin-top: 30px;
    list-style-type: none;
    padding: 0px;
}
.question-list li p{
    margin-bottom: 18px;
    color: rgb(58, 29, 29);
    font-size: 20px;
    font-weight: 400;
}

.question-list li p::before{
    content: "";
    display: block;
    background: url("../../assets/img/arrow-circle-right-solid.svg") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 6px 0 0;

}

#what-is-appstorm{
    background-image: url("../../assets/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
}

.table{
    background-color: #f8f7ee;
    color: #33321B;

}

.table-bordered td{
    border: 1px solid #dbd9c5;
}
.table-bordered th{
    border: 1px solid #dbd9c5;
    border-bottom:  1px solid #dbd9c5 ;
}

.form-contact{
    display: flex;
}
.form-contact div:first-child{
    padding-left: 0;
}

.form-style{
    height: 48px;
    width: 100%;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

#how-it-works{
    background-image: url("../../assets/img/ho_chi_minh.png");
    background-size: cover;
    background-position: bottom;
}

.submit-btn{
    height: 48px;
}

#subscribe{
    padding: 100px 0;
    color: #fff;
    background-image: url("../../assets/img/bg-contact.png");
    background-size: cover;
}

#subscribe h3{
color: #E59917;
}

#ts-footer{
    padding: 40px 0 ;
    background-color: #f5f3e2;
}
#ts-footer .lg-footer{
    width: 200px;
}
#ts-footer h5{
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0;
    line-height: 24px;
}

.social{
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.social a{
    padding: 4px 8px;
    border: 1px solid #E59917;
    margin-right: 16px;
    color: #E59917;
}
.social a:hover{
    padding: 4px 8px;
    border: 1px solid #E59917;
    background-color: #E59917;
    margin-right: 16px;
    color: #fff;
}

.contact-info {
    list-style: none;
    padding: 0
}

.navbar-toggler{
    border: none;
}

.ic-menu{
    width: 32px;
    color: #E59917;
}

#pro-info{
    margin-top: 120px;
    padding: 40px 0;
    background-color: rgb(239, 243, 235);
}
#pro-info .info-style{
    width: 100%;
    background-color: rgb(239, 243, 235);
    padding: 32px 40px;
    text-align: center;
    border: 1px solid #e4d9c8;
    margin: 16px;
    border-radius: 12px;
}
.info-style img{
    width: 100px;
}
.info-style h4{
    margin: 24px 0;
}
.info-style p{
    margin-bottom: 0;
}

.navbar{
    padding: 8px;
}
.pro-bg-style{
    padding: 24px 24px;
    border-radius: 12px;
    border: 1px solid #e4d9c8;
    background-color: rgb(224, 213, 192);
    margin: 16px 0;
    cursor: pointer;
}

.pro-bg-style:hover{
    padding: 24px 24px;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #fff;
    transition: .5s;
}

#pro-list{
    padding-bottom: 80px;
    padding-top: 20px;
    text-align: center ;
    background-color: rgb(238, 233, 225);
    background-position: center;
}


#pro-list .pro-bg-style .img-pro{
width: 100%;
height: auto;
padding: 16px;
}
.img-pro{
    width: 100%;
    height: auto;
    padding: 16px;
    }
#pro-list .pro-bg-style .img-pro img{
    width: 100%;
}
.img-pro img{
    width: 100%;
}
#pro-list .ts-title{
    padding: 40px 0;
    text-align: center ;
    margin-bottom: 30px;
}

.pro-bg-style h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}
.pro-bg-style h3{
    font-size: 24px;
    font-weight: 600;
}


#hero-baner{
    background-color: rgb(239, 243, 235);
    height: 200px;
}

.card{
    border-radius: 12px;
    box-shadow: none;
    cursor: pointer;
}

#news{
    background-color: rgb(239, 243, 235);
}

#news .news-title {
    font-size: 24px;
}
#news .news-description{
    padding-top: 16px;
    margin-bottom: 0;
}

.card-footer .date {
    margin-bottom: 0;
}

.card-footer{
    padding: 8px 24px;
    border-top: none;
}

#detail-news{
    background-color: rgb(239, 243, 235);
}
#newscontent img{
  width: 100%;
  margin: 30px 0;
}

#newscontent p{
  font-size: 18px;
  color: #33321B;
  line-height: 30px;
}

#newscontent .entry-meta{
  margin: 30px 0;
  color: #848476;
}

.modal{
    background-color: rgb(224, 213, 192);
}
.modal-dialog{
    top: 10%;
    width: ;
}

.modal-content{
    background-color: rgba(58, 29, 29, 0);
    border: none;

}
.modal-title{
    margin-bottom: 30px;
}
.modal-header{
    padding: 0;
    border: none;
}

.modal-body{
    border: none;
    padding: 0;
}
.modal-footer{
    padding: 0;
    border: none;
    margin-top: 16px;
}

.form-pad{
    margin-bottom: 24px;
}

.modal-btn-style{
    width: 50%;
    height: 48px;
    border-radius: 8px;
}

.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(58, 29, 29, 0);

}

.fa-spin{
    animation: a 20s infinite linear;
}

@media (max-width: 767.98px) {
    .input-phonenumber{
        font-size: 16px;
        height: 48px;
        padding-left: 12px;
    }

    .cta-btn{
        font-size: 16px;
        height: 48px;
    }

    .im-bundau{
        display: none;
    }

 }

 @media (max-width: 500px) {
    .hero-banners{
        margin-top: 40px;
    }

 }

 .form-contact h6{
    color: #fff;
 }

 .service-bg-style{
    background-color: #ebe9d9;
    border-radius: 12px;
    min-height: 550px;

 }
 .service-bg-style:hover{
     background-color: #fff;
     box-shadow: 0 2px 40px 0 rgba(0,0,0,0.07);
 }

 .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .pro-group{
      width: 100%;
      text-align: left;
      margin-top: 60px;
  }

  /* product detail*/

  .pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px;
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px;
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0;
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px;
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none;
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none;
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none;
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}
.preview {
    height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block;
      height:80px;

    }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card-pro {
  background-color: rgb(239, 243, 235);
  padding-bottom: 60px;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #E59917; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

  .product-description{
      font-size: 14px;
      overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
  }
.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@media (max-width:576px){
    .preview-thumbnail.nav-tabs li img{
        height:50px;
    }
    .preview-thumbnail.nav-tabs li{
        margin-right:1.5%;
    }
}
/*# sourceMappingURL=style.css.map */

.old-price{
    text-decoration: line-through;
    color: #8f8686 !important;
    font-size: 24px;
    margin-left: 8px;
    font-size: 300;
}

.price{
    font-size: 32px;
}

.detail-style{
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
}

.act-btn-style{
    padding: 12px 24px;
    box-shadow: none;
    background: none;
    border: solid 1px #E59917;
    margin: 16px 0;
    width: 100%;
    border-radius: 4px;
}
.hotline{
    font-size: 24px;
    margin-left: 8px;
    color: #E59917;
}

.cta-btn-style{
    height: auto;
    padding: 12px;
}
.pro-spec-detail{
    padding: 60px 0;
}
.news-more-style{
    border-bottom: solid 1px #b3c8c9;
    padding: 16px;
    color: #33321B !important;
}
.related-pro{
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgb(245, 247, 243);
}
.pro-spec-detail-content{
    margin-bottom: 60px;
}
.related-list{
    margin-top: 0;
}

.preview-pic{
    width: 100%;
}
.preview-pic::after{
    content: "";
  display: block;
  /* padding-bottom: 100%; */
}
.preview-pic img{
    max-width: 100%;
    max-height: 100%;
}

.preview{
    height: fit-content;
}
